body {
  background-color: pink;
}

.container{
  background-color: rgb(224, 203, 241);
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.list {
  height: 70vh;
  
}

h1 {
  color: rgb(122, 12, 122);
}
