.form {
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;

  &-input {
    padding: 5px;
    width: 100%;
    height: 50px;
    background-color: rgb(206, 167, 218);
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }

  &-btn {
    width: 70px;
    height: 60px;
    margin-right: 0;
    background-color: rgb(188, 118, 206);
    border: none;
    border-radius: 5px;
    &-img {
      position: relative;
      width: 35px;
      height: 35px;
      color: rgb(128, 67, 226);
    }
  }
}
.btn-reset {
  height: 50px;
  width: 100px;
  color: rgb(128, 67, 226);
  font-size: 20px;
}
