.message {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  //   border: 1px solid;
  &-img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
}

.bot {
  flex-direction: row;
  align-self: flex-end;
}

p {
  height: 20px;
  border-radius: 10%;
  color: black;
  background: rgb(163, 67, 241);
  text-align: center;
  align-self: flex-end;
  padding: 5px 15px;
}

.p-bot {
  background: rgb(188, 118, 206);
  color: black;
}
